/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    margin: 0;
    padding: 0;
}



html {
    
}


.logo {
    padding: 10px 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #540B51;
}
.div-thing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
li {
    padding: 0 10px 0;
}
a {
    color: white;
    text-decoration: none;
}
.div-class {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttom-try-for-free {
    background-color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color:  #540B51;
    text-decoration: none;
    text-transform: uppercase;
}
.buttom-sign-in {
    background-color: #540B51;
    border-style: none;
}
.class-for-sign-in {
    margin-top: -10px;
}




h1{
    color: white;
    font-size: 75px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #540B51;
    height: 500px;
}

@media screen and (max-width: 800px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
  }

.first-div{
    width: 620px;
}
.slack-class {
    color: #ECB12F;
}
header > div > p {
    color: white;
    font-size: 25px;
}


.hero {
    width: 500px;
}


@media screen and (max-width: 700px) {
    .hero {
      width: 250px;
      margin-right: -100px;
    }
  }

  @media screen and (max-width: 700px) {
    h1 {
    font-size: 40px;
    }
  }


.first-buttom {
    color: #540B51;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 800;
}
.second-buttom {
    background-color: #4285F4;
    color: white;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

@media screen and (max-width: 700px) {
    .first-buttom {
    width: 250px;
    height: 30px;
    }
  }



.google-icon {
    margin: 0;
    border-radius: 2px;
    background-color: white;
    border: 10px solid white;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 700px) {
    .google-icon{
    width: 10px;
    height: 10px;
    }
  }

@media screen and (max-width: 700px) {
    .second-buttom {
    width: 250px;
    height: 30px;
    margin-top: 20px;
    }
  }

  @media screen and (min-width: 700px) {
    .second-buttom {
    
    margin-left: 20px;
    }
  }

.header-sign-in {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    padding-top: 15px ;
}

@media screen and (max-width: 700px) {
    .header-sign-in{
    display: flex;
    flex-direction: column;
    }
  }

.trusted {
    background-color: #F3EAE2;
    padding-top: 15px ;
   
}





.trusted p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.trusted > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.team {
    background-color: #F3EAE2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.channels {
    color:#2E71A6 ;
}


.choose {
    background-color: #F3EAE2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.communication {
    color:#2E71A6 ;
}


.work-faster{
    background-color: #F3EAE2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px; 
}

.work-faster span {
    color:#2E71A6;
}


.enterprise {
padding-top: 50px;
padding-bottom: 50px;

}

.enterprise > h3 {
    text-align: center;
}

.enterprise > p {
    text-align: center;
}

.enterprise > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.btnenterprise {
    
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
    background-color:#540B51 ;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #540B51 ;
}

.btnsales {
    padding: 13px;
    text-transform: uppercase;
    background-color: white;
    color:#540B51;
    border-radius: 5px;
    border-color:#540B51 ;
    margin-left: 10px;
    border: 1px solid #540B51 ;
    font-weight: 600;
}



.purple {
  font-size: 75px;  
  color: #540B51;
  font-weight: 600;
}

.trio p {
    font-weight: 600;
}